/* Box Class */
.box {
  padding: 1rem 2rem;
}

/* Row Class */
.row {
  display: flex;
  gap: 1rem;
}

/* Column Class */
.column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Sidebar Grid Layout Class */
.sidebar-grid-layout {
  display: grid;
  grid-template-columns: 20rem 1fr;
  min-height: 100vh;
}

.sidebar-grid-layout aside {
  border-right: 1px solid var(--website-text-color);
  padding-bottom: 6rem;
}

/* Header Box */
#header-box {
  background-color: var(--header-and-footer-background-color);
  border-bottom: 1px solid var(--website-text-color);
}

/* Header Title */
#header-title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
}

/* Search Form */
#search-form {
  margin-bottom: 2rem;
}

/* Form Field Class */
.form-field {
  border: 3px solid var(--form-field-border-color-inactive);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: border-color 0.5s ease;
  outline: none;
}

.form-field:focus {
  border-color: var(--primary-button-color-focus);
}

/* Button Class */
.button {
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  background-color: var(--primary-button-color);
  transition: background-color 0.5s ease;
  outline-color: var(--primary-button-color);
  outline-offset: 2px;
}

.button:hover {
  background-color: var(--primary-button-color-focus);
}

.button:focus {
  background-color: var(--primary-button-color-focus);
}

/* Label Class */
.label {
  font-size: 1.125rem;
  font-weight: 500;
}

/* Search History */
.search-history-item button {
  width: 100%;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.75rem 1rem;
  background-color: var(--secondary-button-color);
  transition: background-color 0.5s ease;
  outline-color: var(--secondary-button-color);
  outline-offset: 2px;
}

.search-history-item button:hover {
  background-color: var(--secondary-button-color-focus);
}

.search-history-item button:focus {
  background-color: var(--secondary-button-color-focus);
}

/* Forecast For Today */
#forecast-for-today {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--sunny-forecast-color);
  margin-bottom: 2rem;
}

/* Today Data */
#today-forecast-data div {
  gap: 0.5rem;
}

/* City Label */
#city-label {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Forecast List */
#forecast-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
}

/* Forecast List Item */
.forecast-list-item {
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--sunny-forecast-color);
}

.forecast-list-item h4 {
  font-weight: 600;
}

.forecast-list-item div {
  gap: 0.5rem;
}
/* Weather Icon */
.weather-icon {
  font-size: 2rem;
}

/* Emphasis Class */
.emphasis {
  font-weight: 500;
}

/* Footer Box */
#footer-box {
  text-align: center;
  background-color: var(--header-and-footer-background-color);
  border-top: 1px solid var(--website-text-color);
}

#footer-box a:hover {
  text-decoration: underline;
}

/* Footer Title */
#footer-title {
  font-weight: 500;
}

/* Changes the forecast list grid from 5 columns to 3 columns. 
Also a row gap is added to separate the rows of the grid. */
@media screen and (max-width: 1285px) {
  #forecast-list {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
  }
}

/* Changes the forecast list grid from 3 columns to 2 columns. */
@media screen and (max-width: 924px) {
  #forecast-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 744px) {
  /* Changes the sidebar grid layout  from 2 columns to 1 columns. 
  And changes it from 1 row to 2 rows. This is done to achieve a more mobile friendly layout. */
  .sidebar-grid-layout {
    grid-template-columns: 1fr;
    grid-template-rows: 30rem 1fr;
  }

  /* Removes the right border of the aside and adds one to its bottom. 
  Removes the bottom padding of the aside. */
  .sidebar-grid-layout aside {
    border-right: none;
    border-bottom: 1px solid var(--website-text-color);
    padding-bottom: 0;
  }

  /* Makes the search history list scrollable, 
  and removes the default scroll bar that is added by the overflow-y attribute. */
  #search-history-list-box {
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 4rem;
  }

  #search-history-list-box::-webkit-scrollbar {
    display: none;
  }

  /* Changes the city label element  font size from 2.25rem to 1.5rem. */
  #city-label {
    font-size: 1.5rem;
  }

  /* Changes the forecast list grid from 2 columns to 1 columns. */
  #forecast-list {
    grid-template-columns: 1fr;
  }

  /* Changes the footer box elements font size from 1rem to 0.75rem. */
  #footer-box {
    font-size: 0.75rem;
  }
}
